.Invoice {
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(88, 55, 50, 1);
  background-color: #e9e9e9;
}

.Invoice-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  color: rgba(88, 55, 50, 1);
  text-align: left;
  margin-left: 20px;
  margin-top: 17px;
}

.Invoice-detail {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: rgba(88, 55, 50, 1);
  text-align: left;
  margin-left: 20px;
  margin-top: 17px;
}

.PaymentOption {
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(88, 55, 50, 1);
  border-radius: 15px 15px 0 0;

  position: fixed;
  bottom: 75px;
  right: 0;
  left: 0;
}

.PaymentOptionMargin {
  z-index: -1;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(88, 55, 50, 1);

  position: relative;
  height: 229.39px;
}

.TotalContainer {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  padding: 10px 0;
  margin-bottom: 17px;
}

.PayButton {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;

  width: 80vw;
  height: 18vw;
  border-radius: 50px;
  background-color: rgba(88, 55, 50, 1);
  color: white;
  border: none;
  margin: 0px auto;
  cursor: pointer;
  margin-bottom: 23px;
}

.Pay2Button {
  text-align: center;
  color: rgba(88, 55, 50, 1);
  font-size: 1em;
  margin-bottom: 25px;
  cursor: pointer;
}

.RoundedRectangle {
  border-radius: 20px;
  padding-top: 5px;
  margin: 26px;
  background-color: #f9f9f9;
}
