/* ItemLister.module.css */

.item-lister {
  width: 100%;
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  color: rgba(88, 55, 50, 1);
  text-align: left;
  width: calc(70% - 10px);
  padding-left: 10px;
  text-transform: capitalize;
}

.edit-typeItem-button {
  margin-left: auto; /* Push the button to the right */
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-item-button {
  margin-top: 10px;
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item-list {
  display: flex;
  flex-direction: column; /* Display items in a column */
  gap: 10px; /* Space between each item */
}

.border {
  border: 1px solid #000000;
}

.noborder {
  border: 1px solid #ffffff00;
}
